<section class="section-padding">
  <div class="page-width" style="max-width: 22rem;">
    <h1>{{ 'customer.reset_password.title' | t }}</h1>
    <p style="color: var(--color-muted);">{{ 'customer.reset_password.subtext' | t: email: customer.email }}</p>
    {% form 'reset_customer_password' %}
      {{ form.errors | default_errors }}
      <div class="field">
        <label for="ResetPassword">{{ 'customer.reset_password.password' | t }}</label>
        <input type="password" name="customer[password]" id="ResetPassword" autocomplete="new-password" required>
      </div>
      <div class="field">
        <label for="ResetPasswordConfirmation">{{ 'customer.reset_password.password_confirm' | t }}</label>
        <input type="password" name="customer[password_confirmation]" id="ResetPasswordConfirmation" autocomplete="new-password" required>
      </div>
      <button type="submit" class="btn" style="width:100%;">{{ 'customer.reset_password.submit' | t }}</button>
    {% endform %}
  </div>
</section>
